@import '../../../../styles/variables.scss';

.ui-button-container {
    border: 0;
    border-radius: 5px;
    cursor: pointer;

    // color
    &.primary {
        background-color: $primaryBlue;
        color: $white;
    }

    &.grey {
        background-color: $tinyGrey;
        color: $primaryBlack;
    }


    // size
    &.large {
        height: 40px;
        font-size: $font-size-xxlarge;
    }

    &.normal {
        height: 24px;
        font-size: $font-size-large;
    }

    &.small {
        height: 18px;
        font-size: $font-size-xsmall;
    }

}